

<h2>{{user.name}}</h2>
<p>{{user.dbfile}}</p>
<div class="col">
  <div id="editor">
  </div>
  <button type="button" id="execute">Execute</button>
</div>
<div class="col">
  <div id="results">

  </div>
</div>

<script>
  $('#execute').on('click', function(){
    $('#results').html("Results Go Here");
  });
</script>
