

<h2>{{user.name}}</h2>
<p>{{user.dbfile}}</p>
<div class="col">
  <div id="editor">
  </div>
  <button type="button" id="execute">Execute</button>
</div>
<div class="col">
  <div id="results">

  </div>
</div>

<script>
  $('#execute').on('click', function(){
    $.ajax({
      url: window.location.pathname + '/execute',
      dataType: "json",
      method: "POST",
      data: {query: editor.getValue() }
    })

      .done(function(data){
        console.log(data);
        if ("errno" in data){
          $('#results').html("<div class=\"error\">Ooops! Something went wrong with your query!" + data.errmsg + " </div>");

        } else{
        var results = "<table><tr>";
        var headings = Object.keys(data[0]);
        for (h in headings){
          results += "<th>" + headings[h] + "</th>";
        }
        results += "</tr>";
        for (row in data){
          results += "<tr>"
          for (col in data[row]){
            results += "<td>" + data[row][col] + "</td>"
          }
          results += "</tr>";
        }
        $('#results').html(results);
      }
      })
      .fail(function(error){
        console.log(error);
        $('#results').html("<div class=\"error\">Ooops! Something went wrong with your query!</div>");
      });


  });
</script>
