

<h2>{{user.name}}</h2>
<p>{{user.dbfile}}</p>
<div class="col">
  <div id="editor">
  </div>
  <button type="button" id="execute">Execute</button>
</div>
<div class="col">
  <div id="results">

  </div>
</div>

<script>
  $('#execute').on('click', function(){
    var lines = [];
    for(var i=0; i<editor.lineCount(); i++){
      if(editor.getLine(i)){
        lines.push(editor.getLine(i));
      }
    }
    console.log(lines);
    $.ajax({
      url: window.location.pathname + '/execute',
      dataType: "json",
      method: "POST",
      data: {query: lines }
    })

      .done(function(data){
        console.log(data);
        $('#results').html("");
        for(d in data){
          var table = data[d];
          var results = "<table><tr>";
          var headings = Object.keys(table[0]);
          if (headings.indexOf("errmsg") > -1){
            results = "<p class=\"error\">" + table[0]["errmsg"] + "</p>";
          } else{
          for (h in headings){
            results += "<th>" + headings[h] + "</th>";
          }
          results += "</tr>";
          for (row in table){
            results += "<tr>"
            for (col in table[row]){
              results += "<td>" + table[row][col] + "</td>"
            }
            results += "</tr>";
          }
        }
          results += "</table>";
          $('#results').append(results);
      }
      })
      .fail(function(error){
        console.log(error);
        $('#results').html("<div class=\"error\">Ooops! Something went wrong with your query!</div>");
      });


  });
</script>
